<div class="container-fluid mt-3">
    <div class="row">
  
      <div class="col-lg-3 mx-auto">
        <ul class="list-group">
          <a href="/profile" class="list-group-item list-group-item-action">Profile</a>
          <a href="/updateprofile" class="list-group-item list-group-item-action">Upadate Profile</a>
          <a href="/update-password" class="list-group-item list-group-item-action">Change Password</a>
          <a href="/logout" class="list-group-item list-group-item-action">Log out</a>
        </ul>
      </div>